footer{
    background-color: #222222;
    background-image:url(../../img/map-image.png);
    background-size: cover;
    height: 800px;
    background-position: center;
    form{
        input{
        width: 100%;
        padding: 15px;
        margin-top: 15px;
    }
    }
}
textarea{
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    height: 190px;
}
.formulario{
    padding-top: 50px;
}
