.navbar{
border:none;
background-color: transparent;
}
.navbar-header a{
    font-family: 'Kaushan Script', cursive;
}
.navbar-default .navbar-brand{
    color: #FED136;
    font-size: 25px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #FED136;
    border-radius: 3px;
}
.navbar-default .navbar-nav>li>a:hover{
color: #FED136;
}
.navbar-default .navbar-toggle:hover {
    background-color: #FED136;
}
#hero-img{
    background-image: url(../../img/header-bg.jpg);
    background-size: cover;
    height: 690px;
    background-position: center;
    .welcome{
        font-family: 'Droid Serif', serif;
        color: white;
        font-size: 40px;
    }
    .texto{
        padding-top: 150px;
    }
    #title{
        font-weight: bold;
        font-size: 70px;
    }
}
/*opaque nav*/
.opaque-navbar {
    background-color: transparent;
    transition: background-color .5s ease 0s;
}
.opaque-navbar.opaque {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}
@media (max-width: 768px) {
  .opaque-navbar {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color:  #FED136;
    background-color: black;
    opacity: 0.8;
}
}
