section(id='about')
    .container
        h1(class='text-black') ABOUT
        em(class='text-gris') lorem ipsum dolor si amet consercut
        br
        br
        br        
        #timeline
            +aboutt('2009-2011', 'Our Humble Beginnings', src="Problema/img/about/1.jpg")            
            +abouttright('MARCH 2011' , 'An Agency Born', src="Problema/img/about/2.jpg")        
            +aboutt('DECEMBER 2012' , 'Transition to Full Service', src="Problema/img/about/3.jpg")
            +abouttright('JULY 2014','Phase Two Expansion' , src="Problema/img/about/4.jpg" )
             
        
    
        
