section(id='about')
    .container
        h1(class='text-black') ABOUT
        em(class='text-gris') lorem ipsum dolor si amet consercut
        br
        br
        br
        .row
            .col-lg-4
                h5 hola
                p(class='text-gris') lorem ipsum dolor si amet consercutlorem ipsum dolor si amet consercutlorem ipsum dolor si amet consercut
            .col-lg-4
                img(src="Problema/img/about/1.jpg" class='img-circle')
        .row
            .col-lg-8
                .col-lg-push-4
                    img(src="Problema/img/about/1.jpg" class='img-circle')
            .col-lg-4 
                    h5 hola
                    p(class='text-gris') lorem ipsum dolor si amet consercutlorem ipsum dolor si amet consercutlorem ipsum dolor si amet consercut
            
        
        
