footer
    .container
        h1 CONTACT US
        em lorem ipsum dolor sit amet consectur
        .row(class='formulario')
            .col-lg-6
                form
                    input(type='text' placeholder='YOUR NAME*' class='border')
                    input(type='text' placeholder='YOUR EMAIL*' class='border')
                    input(type='text' placeholder='YOUR PHONE' class='border')
            .col-lg-6
                textarea(type='textarea' placeholder='YOUR MESSAGE' class='border')
                br
                br
                br
        a(href='#' class='btn_yellow' class='border') send message
        
            
