footer(id='contact')
    .container
        h1 CONTACT US
        em lorem ipsum dolor sit amet consectur
        .row(class='formulario')
            .col-lg-6
                form
                    input(type='text' placeholder='YOUR NAME*' class='border')
                    input(type='text' placeholder='YOUR EMAIL*' class='border')
                    input(type='text' placeholder='YOUR PHONE' class='border')
            .col-lg-6
                textarea(type='textarea' placeholder='YOUR MESSAGE' class='border')
                br
                br
                br
        a(href='#' class='btn_yellow' class='border') send message
section(id='logos')
    .row
        .col-lg-4
            p Copyright C Your website 2014
        .col-lg-4
             i(class='fa fa-twitter img-circle redes') 
             i(class='fa fa-facebook img-circle redes')
             i(class='fa fa-linkedin img-circle redes') 
        .col-lg-4
            p(class='text-yellow') Privacy Policy Terms of Use
            
            
