section(id='ourteam')
    .container
        h1(class='text-black') our amazing team
        em(class='text-gris') lorem ipsum dolor si amet consercut
        br
        br
        br
        .row.team
                .col-lg-4
                    +our_team('Lead Designer' ,'Kay Garland' , 'fa fa-twitter img-circle  redes' , 'fa fa-facebook img-circle redes', 'fa fa-linkedin img-circle redes' , src="Problema/img/team/1.jpg")
                .col-lg-4
                    +our_team('Lead Marketer' , 'Larry Parker', 'fa fa-twitter img-circle redes' , 'fa fa-facebook img-circle redes', 'fa fa-linkedin img-circle redes' , src="Problema/img/team/2.jpg")
                .col-lg-4
                    +our_team('Lead Developer' , 'Diana Pertesen', 'fa fa-twitter img-circle redes' , 'fa fa-facebook img-circle redes', 'fa fa-linkedin img-circle redes' , src="Problema/img/team/3.jpg")
            
        p(class='text-gris')= tex
section(id='logos')
    .container
        .row
             .col-lg-3
                 img(src="Problema/img/logos/envato.jpg")
             .col-lg-3
                 img(src="Problema/img/logos/designmodo.jpg")
             .col-lg-3
                 img(src="Problema/img/logos/themeforest.jpg")
             .col-lg-3
                 img(src="Problema/img/logos/creative-market.jpg")
