section(id='portf')
    .container
        h1(class='text-black') portfolio
        em(class='text-gris') lorem ipsum dolor si amet consercut
        br
        br
        br
        .row
            .col-lg-4
                +portfoli('Round Icons' , 'Graphics Design' , src="Problema/img/portfolio/roundicons.png")
            .col-lg-4
                +portfoli('Round Icons' , 'Graphics Design' , src="Problema/img/portfolio/startup-framework.png")
            .col-lg-4
                +portfoli('Round Icons' , 'Graphics Design',  src="Problema/img/portfolio/treehouse.png")
        .row
            .col-lg-4
                +portfoli('Round Icons' , 'Graphics Design' , src="Problema/img/portfolio/golden.png")
            .col-lg-4
                +portfoli('Round Icons' , 'Graphics Design' , src="Problema/img/portfolio/escape.png")
            .col-lg-4
                +portfoli('Round Icons' , 'Graphics Design',  src="Problema/img/portfolio/dreams.png")
    
