section
    .container
        h1(class='text-black') SERVICES
        em(class='text-gris') lorem ipsum dolor si amet consercut
        br
        br
        br
        .row
            .col-lg-4
                +servics('fa fa-shopping-cart img-circle' ,'E-Commers')
            .col-lg-4
                +servics('fa fa-laptop img-circle' , 'Responsive Design')
            .col-lg-4
                +servics('fa fa-lock img-circle' , 'Web Security')
