section
    .container
        h1 CONTACT U
        em lorem ipsum dolor si
        .row
            .col-lg-4
                +servics('fa fa-shopping-cart')
            .col-lg-4
                +servics('fa fa-shopping-cart')
            .col-lg-4
                +servics('fa fa-shopping-cart')
